html,
body 
{
    font-family: "Microsoft Yahei";
	font-size: 15px;
	line-height: 1.50;	
	background-color: #ffffff;
	position: relative;
	height: 100%;
}

/* Layout
----------------------------------------------------------------------------- */
.header 	
{   	
    padding-top: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Navigations
----------------------------------------------------------------------------- */

.main-navigation .navbar-default 
{
    /* set the background-color to transparent */
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a 	
{
    font-family: "Microsoft Yahei";
	color:#fff;
	font-size: 16px;	
	outline: none;
}
.header-left .logo > a
{
    outline: none;
    }
.fixed-header-on .main-navigation .navbar-default .navbar-nav > li > a {	
	color:#808080;	
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: transparent;	
	
}
.fixed-header-on .main-navigation .navbar-default .navbar-nav > li > a {
	background-color: transparent;
	color: #808080;
	
}

.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active >a{
	color: #0099CC;
	font-weight: bold;
}
@media (min-width:768px) {
	.main-navigation .navbar-default .navbar-nav > li > a {
		padding-top: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav {
		float: left !important;
	}
	.main-navigation .navbar-default .navbar-nav > li > a 	
    {       
	    font-size: 12px;	   
    }
}
@media (max-width:767px) {
	.header.navbar-fixed-top {
		position: absolute;
	}
	.navbar-collapse
    {
        background-color: #808080;
    }
}
/* Fixed Header
----------------------------------------------------------------------------- */
.fixed-header-on .header 
{  
    padding-top: 5px;
	background-color: #fff;
	
}
@media (min-width:768px) {
	.fixed-header-on .navbar-default .navbar-nav > li > a {
		
	}
}
/* Blocks/Widgets
----------------------------------------------------------------------------- */
/* Logo, Site Name, Site Slogan
---------------------------------- */
.logo 
{
  
    margin-top: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#scrollUp
{
    bottom: 20px;
    right: 20px;
    width:70px;
    height:70px;
    background-image: url("../../../Images/customer/top.png");
    background-size:70px 70px;
    outline: none;
    }

.footerNav {
 	color: #FF6600;
    font-family: "Microsoft Yahei";
    font-size: 20px;
}
.subfooter {
	background-color: #fafafa;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	padding: 40px 0;
}
.footer{
	font-family: "Microsoft Yahei";
	font-size:12px;
}
.footer li
{
  	list-style: none;
  	line-height:200%;
  	
}
.footer a
{
    color: #000;
    }
.footer .focus{
	overflow: hidden;
	padding-bottom: 20px;
}
.footer .qrCode{
	width: 50%;
	float: left;
}
.footer .infor{
	width: 44%;
	float: left;
	margin-top:5px;
	line-height: 20px;
	font-size: 12px;
}
.footer .hotline
{
    width:100%;
    height:100px;
    float:left;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    }
.footer .email
{
    width:100%;
    height:100px;
    float:left;
    }
.footer .hotline .phone {
    float: left;
    width: 20%;
    padding-top: 9px;
}
.footer .hotline .text {
    float: left;
    width: 80%;
}
.footer .email .text {
    float: left;
    width: 75%;
}
.footer .orange {
    color: #F68B20;
    margin-bottom:0px;
}
.footer .number {
    font-size: 22px;
    margin:0px;
}
.footer .email .email-logo
{
    float: left;
    width: 25%;
    padding-top: 9px;
    }
.footer .demand {
    margin:0px;
}
